img{
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

body{
	margin: 0;
	color: white;
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}

a{
	text-decoration: none;
}

.container{
	width: 940px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 10px;
	padding-left: 10px;
}

.main-header-top{
	background-color: #293449;
}

.user-nav{
	display: flex;
	position: relative;
}

.main-header-logo{
	position: absolute;
	background-color: #ee3643;
	color: white;
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 24px;
	font-weight: 400;
	line-height: 24px;
	width: 220px;
	text-align: center;
	padding: 11px 20px  7px 22px;
	box-sizing: border-box;
	border-bottom: 5px solid #b52933;
}

.main-header-logo:hover{
	background-color: #ca2c37;
}

.main-header-logo:active{
	background-color: #ba2732;
}

.user-nav-form{
	width: 270px;
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 18px;
	margin-left: 220px;
	position: relative;
}

.user-nav-form input{
	width: 270px;
	outline: none;
	padding: 11px 20px 12px 48px;
	box-sizing: border-box;
	border: none;
	background-color: #293449; /*#293449 */
	color: black;
}

.user-nav-form label::before{
	position: absolute;
	content: '';
	width: 17px;
	height: 17px;
	top: 12px;
	left: 17px;
	background-image: url('../img/icon-search.svg');
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.search-field:hover + label::before,
.search-field:active + label::before,
.search-field:focus + label::before{
	opacity: 1;
}

.search-field:focus + label::before{
	background-image: url('../img/icon-search-focus.svg');
}


.user-nav-form input:focus{
	background-color: white;
}

.user-nav-form input::-webkit-input-placeholder{
	color: white;
}

.user-nav-form input:focus::-webkit-input-placeholder{
	color: black;
}


.user-nav-form input::-moz-placeholder{
	opacity: 1;
	color: white;
}

.user-nav-form input:focus::-moz-placeholder{
	color: black;
	opacity: 1;
}

.user-nav-right{
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 18px;
	width: 450px;
	box-sizing: border-box;
}

.user-nav-right a{
	box-sizing: border-box;
	color: white;
	width: 150px;
	position: relative;
}

.user-nav-right li{
	display: flex;
}


.bookmarks a{
	padding-left: 45px;
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.basket a{
	padding-left: 49px;
	padding-right: 18px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.checkout{
	background-color: #63a63e;
}

.checkout a{
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 20px;
	padding-right: 20px;
}

.bookmarks a::before{
	position: absolute;
	content: '';
	background-image: url('../img/icon-bookmark.svg');
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 14px;
	height: 16px;
	top: 12px;
	left: 17px;
	opacity: 0.3;
}

.basket a::before{
	position: absolute;
	content: '';
	background-image: url('../img/cart-icon.svg');
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 14px;
	height: 16px;
	top: 12px;
	left: 17px;
	opacity: 0.3;
}

.bookmarks:hover a::before,
.basket:hover a::before{
	opacity: 1;
}

.bookmarks a:active,
.basket a:active{
	color: rgba(255, 255, 255, 0.3);
}

.bookmarks a:active,
.basket a:active{
	background-color: #161d29;
}

.bookmarks:active a::before,
.basket:active a::before{
	opacity: 0.3;
}

.checkout:hover{
	background-color: #5fbb2d;
}

.checkout:active{
	background-color: #5fbb2d;
}

.checkout a:active{
	color: rgba(255, 255, 255, 0.5);
}

.header-about{
	width: 300px;
	margin: 0;
	color: #ee3643;
	box-sizing: border-box;
	padding-top: 2px;
	padding-left: 53px;
	padding-right: 50px;
	font-style: italic;
	margin-right: 20px;
}

.main-header-center{
	background-color: #f4f7f9;
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 23px;
	padding-bottom: 35px;
}

.main-header-center .container{
	display: flex;
	padding-top: 47px;
}

.wrapper-phone-adress{
	width: 270px;
	display: flex;
	flex-direction: column;
	margin-right: 50px;
}

.header-phone{
	color: #ee3643;
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 21px;
	font-weight: 400;
	line-height: 21px;
	border: 3px solid white;
	box-sizing: border-box;
	padding: 9px 37px 8px 71px;
	position: relative;
}

.header-phone::before{
	position: absolute;
	content: '';
	top: 9px;
	left: 12px;
	background-image: url('../img/icon-phone.svg');
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 19px;
	height: 19px;
}

.header-adress{
	margin: 0;
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: black;
	padding: 4px 9px;
}

.login-reg-list{
	width: 300px;
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 21px;
	font-weight: 400;
	line-height: 21px;
	color: black;
	display: flex;;
}

.login-reg-list a{
	background-color: white;
	color: black;
}

.login{
	padding-left: 19px;
	padding-right: 11px;
}

.login a{
	display: flex;
	padding: 11px 24px 11px 48px;
}

.login a{
	position: relative;
}

.login a::before{
	content: '';
	position: absolute;
	top: 13px;
	left: 14px;
	width: 20px;
	height: 17px;
	background-image: url('../img/icon-login.svg');
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.registration a{
	display: flex;
	padding: 11px 25px;
}

.login a:hover,
.registration a:hover{
	color: rgba(238, 54, 67, 1);
}

.login a:active,
.registration a:active{
	color: rgba(0, 0, 0, 0.3);
}

.login:hover a::before{
	opacity: 1;
}

.login:active a::before{
	opacity: 0.3;
}

.main-header-bottom{
	background-color: #f4f7f9;
	padding-bottom: 60px;
}

.search-button{
	visibility: hidden;
}

.main-nav{
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 17px;
	color: white;
	border-bottom: 5px solid #293449;
	background-color: #32425c;
}

.main-nav-list{
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
}

.main-nav-list a{
	color: white;
	background-color: #32425c;
	
	display: flex;
}

.main-nav-list .first-link{
	padding: 20px 33px 18px 52px;
}

.main-nav-list .last-link{
	padding: 20px 55px 18px 33px;
}

.main-nav-list a{
	padding: 20px 30px 18px 30px;
}

.main-nav-list a:hover{
	background-color: #293449;
}

.main-nav-list a:active{
	color: rgba(255, 255, 255, 0.5);
}

.features-top{
	padding-top: 59px;
	padding-bottom: 20px;
}

.features-list{
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.features-item{
	width: 300px;
	box-sizing: border-box;
	padding: 15px 23px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-bottom: 22px;
	position: relative;
}

.features-item h3{
	margin: 0;
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	color: white;
	padding-top: 6px;
	padding-bottom: 12px;
}

.features-item a{
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
	color: white;
	background-color: rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: center;
	width: 135px;
	box-sizing: border-box;
	padding: 11px 20px 9px;
	border-radius: 3px;
}


.materials{
	background-color: #ffbf47;
}

.materials::after{
	content: '';
	position: absolute;
	top: 31px;
	right: 43px;
	width: 44px;
	height: 65px;
	background: url('../img/icon-1.svg') no-repeat 0 0;
}

.tools::after{
	content: '';
	position: absolute;
	top: 33px;
	left: 197px;
	width: 75px;
	height: 61px;
	background: url('../img/icon-2.svg') no-repeat 0 0;
}


.technic::after{
	content: '';
	position: absolute;
	top: 31px;
	left: 192px;
	width: 78px;
	height: 62px;
	background: url('../img/icon-3.svg') no-repeat 0 0;
}


.new-item::before{
	position: absolute;
	width: 60px;
	height: 59px;
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	background: url('../img/new-flag.png') no-repeat 0 0;
}

.tools{
	background-color: #3bbce3;
}

.technic{
	background-color: #dc91d8;
}

.features-item a:hover{
	background-color: rgba(0, 0, 0, 0.2);
}

.features-item a:active{
	background-color: rgba(0, 0, 0, 0.3);
}

.slider{
	width: 620px;
}

.features-bottom{
	display: flex;
	justify-content: space-between;
}

.slider-list{
	margin: 0;
	padding: 0;
	list-style: none;

}

.slider-item{
	display: flex;
	flex-direction: column;

	padding: 23px 24px;
}

.slider-title{
	margin: 0;
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;
	color: white;
	text-transform: uppercase;
}

.slider-item b{
	margin: 0;
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	color: white;
	padding-top: 2px;
	margin-bottom: 122px;
}

.button-slider{
	color: white;
	align-self: flex-start;
	padding: 10px 49px;
}

.button{
	text-transform: uppercase;
	background-color: #ee3643;
	border-radius: 3px;
	display: flex;
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
}

.drills{
	background: url('../img/drills.jpg') no-repeat center;
}

.perfo{
	background: url('../img/perfo.jpg') no-repeat center;
}

.slide{
	display: none;
}

.slider{
	position: relative;
}

.slider-controls label{
	display: inline-block;
	vertical-align: top;
	width: 10px;
	height: 10px;
	margin-right: 10px;
	background-color: white;
	border-radius: 50%;
	cursor: pointer;
	position: relative;
	z-index: 10;
}

.slider-controls{
	position: absolute;
	font-size: 0;
	z-index: 10;
	bottom: 24px;
	left: 295px;
}

#product-1:checked ~ .slider-list .drills,
#product-2:checked ~ .slider-list .perfo{
	display: flex;
}

#product-1:checked ~ .slider-controls label[for="product-1"]::after,
#product-2:checked ~ .slider-controls label[for="product-2"]::after{
	content: '';
	z-index: 20;
	position: absolute;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: #ee3643;
	top: 2px;
	left: 2px;
}

.slider-controls label[for="product-1"]::before{
	content: '';
	position: absolute;
	width: 22px;
	height: 40px;
	background: url('../img/icon-left.svg') no-repeat 0 0;
	top: -106px;
	left: -270px;
}

.slider-controls label[for="product-2"]::before{
	content: '';
	position: absolute;
	width: 22px;
	height: 40px;
	background: url('../img/icon-right.svg') no-repeat 0 0;
	top: -106px;
	left: 263px;
}


.features-bottom-right{
	display: flex;
	width: 300px;
}

.features-bottom-right .features-list{
	display: flex;
	flex-direction: column;
}

.delivery::after{
	content: '';
	position: absolute;
	top: 31px;
	right: 31px;
	width: 78px;
	height: 63px;
	background: url('../img/icon-5.svg') no-repeat 0 0;
}

.sale{
	background-color: #8ed78f;
}

.delivery{
	background-color: #ffc047;
}

.sale::after{
	content: '';
	position: absolute;
	top: 26px;
	left: 196px;
	width: 59px;
	height: 72px;
	background: url('../img/icon-4.svg') no-repeat 0 0;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){
	.user-nav-form input{
		color: white;
	}

	.user-nav-form input:focus{
		color: black;
	}

	.main-nav-list .last-link{
		padding: 20px 52px 18px 33px;
	}
}

